@import url('_mixins.less');
@import url('_colors-vars.less');
.scroll{
	.scrollable();
    
}
.no-scrollbar {
    .no-scrollbar();
}

.x-scroll{
	.scrollable();
    .no-scrollbar();
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.y-scroll{
	.scrollable();
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.x-scroll-inner{
	position: relative;
    width: 100%;
    box-sizing: content-box;
    .flexbox();
    
}